h2 {
    color: orange;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  input[type="text"] {
    width: 80%; /* Adjust the width as needed */
    padding: 10px;
    box-sizing: border-box;
    margin: 20px auto;
    display: block;
    font-size: 18px;
  }
  
  body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    width: 300px; /* Adjust the width as needed */
    padding: 20px;
    margin: 0;
  }
  